@model List<BookWebMVC.Data.Model.Book>


<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="list-group">
            @foreach (var book in Model)
            {
                <a href="#" class="list-group-item">
                    <h3>@book.Title</h3>
                    <p>
                        @book.Descrption
                    </p>
                </a>
            }
        </div>

    </div>
</div>
